*{
    margin: 0.5rem;
    padding: 5px;
}
body{
    background-color: #eee7da;
}

div{
    width: 55vw;
}
h1{
    color:#cc7135;
    font-family: 'Yeseva One', cursive;
    font-size: 6rem;
}
p{
    color: #051e63;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
li{
    list-style:none;
    color:rgba(2, 1, 1, 0.692);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}